body {
	font-family: Verdana;
	text-align: left;
}

h1 {
	font-family: Verdana;
	color:  #0099cc;
	font-style: italic;
	text-align: left;
	font-size: 35px;
}

h2 {
	font-family: Verdana;
	font-style: italic;
	text-align: left;
	font-size: 20px;	
}

h3 {
	font-family: Verdana;
	text-align: left;
	font-size: 15px;
}	

p  {
	font-family: verdana;
	text-align: left;
	font-size: 15px;
}

ul {
	font-family: verdana;
	text-align: left;
	font-size: 15px;
}